.header__logo {
   margin: 0;
   padding: 0 0 41px;
  }

@media (max-width: 966px) {
   .header__logo {
      /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
           padding-bottom: calc((100vw - 320px) / (918 - 320)*(41 - 31.6) + 31.6px);
      width: calc((100vw - 320px) / (918 - 320)*(142 - 103.74) + 103.74px);
      }
}

.header__logo:hover {
   background-color: black .3s;
}