.header__logo {
   margin: 0;
   padding: 0 0 41px;
   background-image: url(../../../images/header/header_logo.svg);
   object-fit: contain;
   height: 33px;
   width: 142px;
   background-repeat: no-repeat;
   transition: opacity 2s ease;
}

.header__logo:hover {
   cursor: pointer;
}

@media (max-width: 966px) {
   .header__logo {
      /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
      padding-bottom: calc((100vw - 320px) / (918 - 320)*(41 - 22.6) + 22.6px);
      width: calc((100vw - 320px) / (966 - 320)*(142 - 103.74) + 103.74px);
      background-size: 103.74px 24.4px;
   }
}