.header__logo {
  width: 176px;
  height: 52px;
  background-image: url("../../../images/__logo/__logo.svg");
  background-size: cover;
}

@media (max-width: 768px) {
  .header__logo {
       /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
    width: calc(142px + (100vw - 320px) / (768 - 320)*(176 - 142));
    height: calc(42px + (100vw - 320px) / (768 - 320)*(52 - 42));
  }
}