.footer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: calc(100% - 38px);
    padding: 66px 0 60px;

}

@media (max-width: 1280px) {
    .footer {
        /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
        padding: calc((100vw - 320px) / (1280 - 320)*(66 - 48) + 48px) 0 calc((100vw - 320px) / (1280 - 320)*(60 - 36) + 36px);
    }
}