.profile__name {
   margin: 0;
   padding: 0 18px 0 0;
   font-weight: 500;
   font-size: 42px;
   line-height: 114%;
}

@media (max-width: 1280px) {
   .profile__name {
      /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
      font-size: calc((100vw - 320px) / (1280 - 320)*(42 - 27) + 27px);
   }
}

@media (max-width: 618px) {
   .profile__name {
      padding-top: 26px;
   }
}