.popup__input {
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  outline-color: rgb(51, 77, 133);
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}