.popup__input {
  margin: 0 0 30px;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}

.popup__input:first-child {
  padding: 0 0 130px;
}