.popup__btn-save {
    margin: 48px 0 0 0;
    padding: 0;
    max-width: 358px;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(0 0 0);
    color: rgb(255 255 255);
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: opacity .3s linear;
    border-radius: 2px;
}

.popup__btn-save:hover {
    opacity: .6;
}

@media (max-width: 780px) {
    .popup__btn-save {
        font-size: 14px;
        line-height: 17px;
        height: 48px;
        margin: 43px 0 0 0;
    }
}