.popup__container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    box-sizing: border-box;
    margin: 0;
    max-width: 430px;
    padding: 34px 36px 37px;
    width: 100%;
    position: fixed;
  }

@media (max-width: 1280px) {
    .popup__container {
        /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
        max-width: calc((100vw - 320px) / (1280 - 320) * (430 - 282) + 282px);
        top: calc(50vh - 165px);
    }
}

@media (max-width: 780px) {
    .popup__container {
        padding: 21px 22px 24px;
    }
}